{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="col-md-6">
{% for poll in pagination %}
    {% if loop.index is odd %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> {{ poll.author.username }}: {{ poll.title }}</h3>
            </div>
            <div class="panel-body two-col">
            {% set voted = false %}
            {% for pollOption in poll.pollOptions %}
                {% if pollOption.votes|length %}
                    {% set voted = true %}
                {% endif %}
                {% if loop.index is odd %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <label><input type="checkbox" name="pollOption" value="{{ pollOption.id }}">{{ pollOption.content }}</label>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <label><input type="checkbox" name="pollOption" value="{{ pollOption.id }}">{{ pollOption.content }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if loop.index is odd and loop.index == loop.length %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="panel-footer">
                {% if not voted %}
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Vote</button>
                {% endif %}
                <a href="{{ path('poll_show', { 'id': poll.id }) }}" class="btn btn-primary">View Result</a>
                {% if is_granted('ROLE_ADMIN') or app.user.id is defined and app.user.id == poll.author.id %}
                <a href="{{ path('poll_edit', { 'id': poll.id }) }}" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
    </div>

    <div class="col-md-6">
{% for poll in pagination %}
    {% if loop.index is even %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> {{ poll.author.username }}: {{ poll.title }}</h3>
            </div>
            <div class="panel-body two-col">
            {% set voted = false %}
            {% for pollOption in poll.pollOptions %}
                {% if pollOption.votes|length %}
                    {% set voted = true %}
                {% endif %}
                {% if loop.index is odd %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <label><input type="checkbox" name="pollOption" value="{{ pollOption.id }}">{{ pollOption.content }}</label>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <label><input type="checkbox" name="pollOption" value="{{ pollOption.id }}">{{ pollOption.content }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if loop.index is odd and loop.index == loop.length %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="panel-footer">
                {% if not voted %}
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Vote</button>
                {% endif %}
                <a href="{{ path('poll_show', { 'id': poll.id }) }}" class="btn btn-primary">View Result</a>
                {% if is_granted('ROLE_ADMIN') or app.user.id is defined and app.user.id == poll.author.id %}
                <a href="{{ path('poll_edit', { 'id': poll.id }) }}" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
    </div>

    <div class="navigation" style="clear: both; text-align: center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
