{% extends 'base.html.twig' %}
{#{{ pollOption.votes|length }}#}
{% block body %}
    {{ parent() }}
    <div class="col-md-6">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> {{ poll.author.username }}: {{  poll.title }} ({{  poll.hitsCount }})</h3>
            </div>
            <div class="panel-body two-col">
            {% for pollOption in poll.pollOptions %}
                {% if loop.index is odd %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm" style="position: relative">
                            <div class="checkbox" style="z-index: 2">
                                <label><input type="checkbox" name="pollOptions[]" value="{{ pollOption.id }}">{{ pollOption.content }}</label>
                            </div>
                            <div class="progress" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px">
                                <div class="progress-bar progress-bar-danger progress-bar-striped"{% if poll.hitsCount %} data-width="{{ pollOption.votesCount * 100 / poll.hitsCount }}"{% endif %}></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <div class="well well-sm" style="position: relative">
                            <div class="checkbox" style="z-index: 2">
                                <label><input type="checkbox" name="pollOptions[]" value="{{ pollOption.id }}">{{ pollOption.content }}</label>
                            </div>
                            <div class="progress" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px">
                                <div class="progress-bar progress-bar-danger progress-bar-striped"{% if poll.hitsCount %} data-width="{{ pollOption.votesCount * 100 / poll.hitsCount }}"{% endif %}></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if loop.index is odd and loop.index == loop.length %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="panel-footer">
                <a href="{{ path('poll_edit', { 'id': poll.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            </div>
        </div>
    </div>
{% endblock %}
